[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.5"
djangorestframework = "==3.11.0"
pyyaml = "==5.3.1"
uritemplate = "==3.0.1"
djoser = "==2.0.3"

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.8"
